tensorflow
tensorboard==2.4.1
jupyter==1.0.0
ipywidgets==7.5.1
numpy
seaborn
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

tensorboardX==2.1
torch==1.8.1
torchvision==0.9.1
sklearn==0.0
pandas==1.2.3
opencv-python==4.4.0.44
networkx==2.4
matplotlib
